* * * * * chmod +x /root/test.sh >/dev/null 2>&1 (MINUTE)
0 * * * * chmod +x /root/test.sh >/dev/null 2>&1 (HOUR)
0 */6 * * * chmod +x /root/test.sh >/dev/null 2>&1 (EVERY SIX HOURS)
0 */12 * * * chmod +x /root/test.sh >/dev/null 2>&1 (EVERY 12 HOURS)
